@charset "utf-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
	min-width: 700px;
}

header {
	padding: 5px 0px;
	margin-bottom: 20px;
	height: 30px;
	background-color: #545454;
	color: #fff;
	box-shadow: 0px 2px 2px #ccc;
	min-width: 700px;
}

header>div {
	margin-left: 8px
}

#content {
	padding: 0px 8px
}

footer {
	padding: 0px 8px;
	margin-bottom: 10px
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
}

#login-dialog {
	width: 290px;
	margin: auto;
	margin-top: 150px;
}

.grid-login {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px;
}

.mark {
	width: 150px;
}

.mark-modal {
	width: 80px;
}

.field {
	
}

.ui-panelgrid td {
	height: 34px
}

.ajaxstatus {
	position: fixed;
	top: 50px;
	right: 10px;
	width: 35px;
	height: 35px;
}

/* to remove line and spaces on checkbox group*/
.ui-selectmanycheckbox td {
	/* 	border-width: 0px !important; */
	/* 	padding: 0px !important; */
	
}

.ui-selectmanycheckbox td label {
	padding-right: 10px;
}

.product-table input {
	width: 99%;
}

/* Customiza TabView - início */
.ui-tabs .ui-tabs-panel {
	padding: 0.5em 0.2em !important;
}

.ui-tabs {
	padding: 0px !important;
}

.ui-tabs .ui-tabs-nav {
	margin: -1px !important;
}

.ui-tabs.ui-tabs-top>.ui-tabs-nav {
	padding: 0px !important;
}

/*
* this is system-menu
*/
.system-menu {
	border: 0px !important;
	padding: 0px !important;
	background: none !important;
}

.system-menu .ui-menu-parent>a .ui-menuitem-text, .menu-sistema>.ui-menu-list>.ui-menuitem>a>.ui-menuitem-text
{
	color: #ffffff !important;
}

.system-menu .ui-icon-triangle-1-s {
	background: url(#{resource ['images:arrow_down.png']})no-repeat;
}



/*
* end of system menu
*/


.alerticon{
 	vertical-align: bottom;
	 margin-left: 5px;
}

.ui-state-disabled{
	opacity: .80;
}
