<html>
	<body>
        <table>
            <tr>
                <td style="width: 100px">Username:</td>
                <td>$user.username</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>$user.email</td>
            </tr>
            <tr>
                <td>password:</td>
                <td>$user.password</td>
            </tr>
        </table>
    </body>
</html>